.todo-item {
  position: relative;
  font-size: 24px;
  border-bottom: 1px solid #ededed;
}

.todo-item:last-child {
  border-bottom: none;
}

.view {
  display: flex;
  align-items: center;
}

.editing {
  border-bottom: none;
  padding: 0;
}

.created {
  font-size: 13px;
  color: gray;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1 1 auto;
  padding: 19.5px 85px 19px 20px;
}

.todo--edit {
  margin: auto 0 7px;
  right: 45px;
}

.todo--delete {
  margin: auto 0 7px;
  right: 10px;
}
